@media (min-width: 768px) {

    .header {
        
        &__link {

        transition: transform 0.5s ease;

        &:hover {
        
            background: rgb(255, 255, 255);
            color: $color-text;
            transform: $scale;
            }
        }
   
    }

    .games-conteiner {

        &__btn {
    
            transition: transform 0.5s ease;

            &:hover {
                background: white;
                color: $color-text;
                transform: $scale;
            }
        }
    }
}