@media (max-width: 765px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        height: 649px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 147px;
        background-image: url(images/starMob.svg), url(images/starMobTop.png), url(images/starMobBot.png);
        background-position: calc(200% - 40px) calc(100% - 490px), 37px 64px, calc(100% - 34px) calc(100% - 28px);
        
        &__text {
            width: 296px;
            margin-bottom: 36px;
            
        }

        &__link {
            width: 285px;
            font-size: 1rem;
            text-align: center;

            &_desk {
                display: none;
            }

            &_mob {
                display: block;
            }
        }
    }
    .title {
        font-size: 2.5rem;
        line-height: 49px;
        text-align: center;
    }

    .text {
        font-size: 1rem;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
    }

    .scroll-bar {

        height: 51px;

        &__content {
            width: 400%;
            gap: 27px;
        }

        &__heading {
            font-size: 16px;
        }

        &__img {
            display: none;

            &_mob {
                display: block;
            }
        }
    }

    .about-games {
        display: none;
    }

    .mini-games {
        padding-bottom: 52px;
        background-image: none;

        &__title {
            text-align: left;
            margin-bottom: 48px;
        }
    }
    .games-conteiner {
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;

        &__item {
        grid-column: span 4;
        flex-direction: column;
        
        }

        &__img {
        width: 100%;
        }

        &__info {
            padding: 32px;
        }

        &__heading {
        font-size: 2rem;
        line-height: 39px;
        margin-bottom: 16px;
        }

        &__text {
            text-align: left;
            margin-bottom: 32px;
        }

        &__btn {
            max-width: 285px;
            width: 100%;
            font-size: 1rem;
        }
    }

    .footer {
        padding-top: 40px;
        padding-bottom: 40px;

        &__text {
            font-size: 1rem;
            line-height: 20px;
            text-align: center;
        }
    }
}