$color-text: rgb(32, 32, 39);
$alt-color-text: rgb(255, 255, 255);
$background-color: rgb(188, 236, 48);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    height: 710px;
    background-image: url(images/bgheader.jpeg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    padding-top: 196px;

    &header__title {
        max-width: 769px;
        color: $color-text;
        font-size: 288px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
    }

    &header__text {
        color: $color-text;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
    }
}