* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "Lato";
}

a {
  text-decoration: none;
  cursor: pointer;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}

.text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.header {
  height: 710px;
  background-color: rgb(225, 255, 143);
  background-image: url(images/bgstarLeft.png), url(images/bgstarRight.png), url(images/bgstarBig.svg);
  background-position: 63px 69px, calc(100% - 344px) calc(100% - 149px), top -333px right -488px;
  background-repeat: no-repeat;
  padding-top: 196px;
}
.header__link {
  display: inline-block;
  width: 247px;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  padding: 16px 28px;
}
.header__link_mob {
  display: none;
}
.header__title {
  max-width: 769px;
  color: rgb(32, 32, 39);
  margin-bottom: 24px;
}
.header__text {
  width: 720px;
  color: rgb(32, 32, 39);
  margin-bottom: 48px;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.scroll-bar {
  width: 100%;
  height: 90px;
  background-color: rgb(188, 236, 48);
  overflow: hidden;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.scroll-bar__content {
  width: 100%;
  display: flex;
  gap: 51px;
  animation: scroll-left 10s linear infinite;
}
.scroll-bar__heading {
  color: rgb(32, 32, 39);
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  text-align: left;
  text-transform: uppercase;
}
.scroll-bar__img_mob {
  display: none;
}

.about-games {
  padding-top: 94px;
  background-color: rgb(32, 32, 39);
  background-image: url(images/StarGL.png), url(images/StarGR.svg);
  background-position: calc(50% - 660px) calc(50% + 110px), calc(100% + 120px) calc(50% - 360px);
  background-repeat: no-repeat;
  padding-bottom: 50px;
}
.about-games__title {
  color: rgb(255, 255, 255);
  margin-bottom: 24px;
}
.about-games__text {
  color: rgb(255, 255, 255);
  margin-bottom: 72px;
}

.about {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.about__link {
  height: 100%;
  width: 100%;
}
.about__item {
  grid-column: span 4;
  border-radius: 30px;
  box-shadow: 0px 12px 42px -8px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about__item:hover {
  transform: scale(1.05);
}
.about__item_1 {
  height: 473px;
}
.about__item_2 {
  height: 512px;
}
.about__item_3 {
  height: 473px;
}
.about__item_4 {
  height: 551px;
  grid-row: 2/4;
}
.about__item_5 {
  height: 512px;
  grid-row: 3/4;
}
.about__item_6 {
  height: 551px;
  grid-row: 2/4;
}
.about__img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}
.about__info {
  display: flex;
  gap: 26px;
  flex-direction: column;
  padding: 32px;
}
.about__text {
  color: rgb(32, 32, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108px;
  height: 36px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 110%;
  text-align: left;
  border-radius: 52px;
  background: rgb(247, 247, 247);
}
.about__heading {
  color: rgb(32, 32, 39);
  font-size: 2rem;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
}

.mini-games {
  background-color: rgb(32, 32, 39);
  padding-bottom: 144px;
  background-image: url(images/starGamesUp.png), url(images/starGamesDown.png);
  background-position: calc(100% - 88px) 88px, calc(100% - 96px) calc(100% - 56px);
  background-repeat: no-repeat;
}
.mini-games__title {
  color: rgb(255, 255, 255);
  padding-top: 46px;
  margin-bottom: 72px;
}

.games-conteiner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.games-conteiner__item {
  grid-column: span 12;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  box-shadow: 0px 12px 42px -8px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
}
.games-conteiner__item_reverse {
  flex-direction: row-reverse;
}
.games-conteiner__img {
  border-radius: 30px;
  max-width: 600px;
}
.games-conteiner__info {
  padding: 48px;
}
.games-conteiner__heading {
  color: rgb(32, 32, 39);
  font-size: 3rem;
  font-weight: 700;
  line-height: 59px;
  text-align: left;
  margin-bottom: 24px;
}
.games-conteiner__text {
  margin-bottom: 36px;
}
.games-conteiner__btn {
  width: 247px;
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  padding: 16px 28px;
}

.footer {
  background-color: rgb(188, 236, 48);
  padding-top: 61px;
  padding-bottom: 60px;
}
.footer__text {
  color: rgb(32, 32, 39);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
}

@media (max-width: 765px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    height: 649px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 147px;
    background-image: url(images/starMob.svg), url(images/starMobTop.png), url(images/starMobBot.png);
    background-position: calc(200% - 40px) calc(100% - 490px), 37px 64px, calc(100% - 34px) calc(100% - 28px);
  }
  .header__text {
    width: 296px;
    margin-bottom: 36px;
  }
  .header__link {
    width: 285px;
    font-size: 1rem;
    text-align: center;
  }
  .header__link_desk {
    display: none;
  }
  .header__link_mob {
    display: block;
  }
  .title {
    font-size: 2.5rem;
    line-height: 49px;
    text-align: center;
  }
  .text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
  .scroll-bar {
    height: 51px;
  }
  .scroll-bar__content {
    width: 400%;
    gap: 27px;
  }
  .scroll-bar__heading {
    font-size: 16px;
  }
  .scroll-bar__img {
    display: none;
  }
  .scroll-bar__img_mob {
    display: block;
  }
  .about-games {
    display: none;
  }
  .mini-games {
    padding-bottom: 52px;
    background-image: none;
  }
  .mini-games__title {
    text-align: left;
    margin-bottom: 48px;
  }
  .games-conteiner {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
  .games-conteiner__item {
    grid-column: span 4;
    flex-direction: column;
  }
  .games-conteiner__img {
    width: 100%;
  }
  .games-conteiner__info {
    padding: 32px;
  }
  .games-conteiner__heading {
    font-size: 2rem;
    line-height: 39px;
    margin-bottom: 16px;
  }
  .games-conteiner__text {
    text-align: left;
    margin-bottom: 32px;
  }
  .games-conteiner__btn {
    max-width: 285px;
    width: 100%;
    font-size: 1rem;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer__text {
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
  }
}
@media (min-width: 766px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .games-conteiner {
    grid-template-columns: repeat(8, 1fr);
  }
  .games-conteiner__item {
    grid-column: 2/8;
    display: flex;
    flex-direction: column;
  }
  .about {
    grid-template-columns: repeat(8, 1fr);
    row-gap: 24px;
  }
  .about__item {
    height: 100%;
    grid-row: auto;
  }
}
@media (min-width: 768px) {
  .header__link {
    transition: transform 0.5s ease;
  }
  .header__link:hover {
    background: rgb(255, 255, 255);
    color: rgb(32, 32, 39);
    transform: scale(1.05);
  }
  .games-conteiner__btn {
    transition: transform 0.5s ease;
  }
  .games-conteiner__btn:hover {
    background: white;
    color: rgb(32, 32, 39);
    transform: scale(1.05);
  }
}/*# sourceMappingURL=style.css.map */